@import "../node_modules/prismjs/themes/prism-tomorrow";
.theme-image {
    object-fit: cover;
    max-height: 264px;
    width: 100%;
    object-position: 80% 80%;
}

@media (max-width: 768px) {
    .menu-prewiew {
        display: none;
    }
}
